$white__color: #ffffff;
$orange__color: #ff6f24;
$blue__color: #5191fa;
$dark--gray__color: #3b3c3d;
$black__color: #000000;
$dark__color: #232425;
$title__color: #111111;
$light__color: #f3f3f3;
$light--gray__color: #525456;
$gray__color: #ececec;
