@import "colors";
@import "animations";
@import "media-queries";
.header {
  position: relative;
  &__logo {
    @include tablet-plus {
      text-align: center;
    }
    img {
      width: 100%;
      @include tablet-plus {
        width: auto;
      }
      @include mobile {
        width: 60%;
      }
      @include mobile-sm {
        width: 75%;
      }
    }
  }
  &__menu {
    position: absolute;
    content: "";
    z-index: 2;
    width: 95vw;
    padding: 15px 0 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    overflow: hidden;
    @include tablet-plus {
      position: relative;
      width: 100%;
      padding: 40px 0;
      background: $black__color;
      left: 0;
      transform: unset;
    }
    @include tablet-sm {
      padding: 15px 0;
    }
    &--overlay {
      display: none;
      @include tablet-plus {
        display: block;
      }
      &.active {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.5s;
        z-index: 888;
      }
    }
    &--nav {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      transform: translateX(0);
      @include tablet-plus {
        position: fixed;
        content: "";
        z-index: 9999;
        flex-direction: column;
        background-color: $light__color;
        width: 85%;
        top: 0;
        bottom: 0;
        left: 0;
        justify-content: flex-start;
        transform: translateX(-100%);
      }
      &.show {
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
      }
      .menu__title {
        display: none;
        @include tablet-plus {
          display: flex;
          position: relative;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          justify-content: space-between;
          align-items: center;
          padding: 12px 20px;
          color: rgba(0, 0, 0, 0.5);
          h5 {
            font-size: 14px;
            margin: 0;
            text-align: center;
            width: 100%;
          }
          .menu__close {
            padding: 0;
            font-size: 26px;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 22px;

            color: #111;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            content: "";
            top: 50%;
            right: 8px;
            cursor: pointer;
          }
        }
      }
      li {
        padding: 10px 10px;
        @include tablet-plus {
          padding: 11px 0;
          margin-left: 30px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        a {
          color: $white__color;
          font-size: 13px;
          text-transform: uppercase;

          padding: 5px 0;
          &:hover {
            color: $orange__color;
          }
          @include desktop {
            font-size: 11px;
          }
          @include tablet-plus {
            font-size: 15px;
            color: $dark__color;
            text-transform: unset;
          }
        }
        &.active {
          a {
            color: $orange__color;
            border-bottom: 2px solid $orange__color;
            &:hover {
              @include tablet-plus {
                color: $orange__color;
              }
            }
            @include tablet-plus {
              color: $dark__color;
              border: none;
            }
          }
        }
      }
    }
    &--icon {
      display: none;
      cursor: pointer;
      width: 36px;
      height: 36px;
      flex-direction: column;
      position: absolute;
      content: "";
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      padding: 5px;
      z-index: 1;
      @include tablet-plus {
        display: flex;
      }
      @include mobile {
        left: 15px;
      }
      span {
        width: 100%;
        height: 3px;
        background-color: $white__color;

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }
  &__banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    &--slider {
      display: flex;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &--btn {
      padding: 10px 20px;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      outline: 0;
      cursor: pointer;
      position: absolute;
      content: "";
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      @include tablet-plus {
        display: none;
      }
      &.next {
        left: 100%;
        transform: translate(-100%, -50%);
      }
      &.prev {
        left: 0;
      }
    }
    &--dots {
      position: absolute;
      content: "";
      bottom: 25%;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $white__color;
        margin: 5px 7px;
        cursor: pointer;
        &.active {
          background-color: $white__color;
        }
      }
      @include desktop {
        bottom: 17vh;
      }

      @include tablet-plus {
        bottom: 30vh;
      }
      @include tablet {
        bottom: 20vh;
      }
      @include tablet1 {
        bottom: 25vh;
      }
      @include tablet-sm {
        bottom: 25vh;
      }
      @include mobile-plus {
        bottom: 20vh;
      }
      @include mobile1 {
        bottom: 25vh;
      }
      @include mobile {
        bottom: 30vh;
      }
      @include mobile-sm {
        bottom: 40vh;
      }
    }
  }
}
//animation
.leftToRight {
  animation: leftToRight 1s;
}
.rightToLeft {
  animation: rightToLeft 1s;
}
