.left__menu {
  position: fixed;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 20;
  @include tablet-plus {
    top: initial;
    bottom: 20px;
    transform: unset;
  }
  @include mobile-plus {
    bottom: 10px;
  }
  &--phone {
    background-color: $orange__color;
    border-radius: 5px;
    padding: 10px 15px 20px;
    @include tablet-plus {
      padding: 7px 10px;
    }
    a {
      color: $white__color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 36px;
        color: $orange__color;
        background-color: $white__color;
        padding: 5px;
        border-radius: 5px;
        @include mobile-plus {
          font-size: 20px;
        }
      }
      .left__menu--phone--desc {
        height: 40px;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-align: left;
        color: $white__color;
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        @include tablet-plus {
          display: none;
        }
        b {
          font-size: 24px;
        }
      }
    }
  }
}
.zalo {
  position: fixed;
  content: "";
  top: 55%;
  left: 10px;
  z-index: 20;
  width: 50px;
  @include tablet-plus {
    top: initial;
    bottom: 150px;
  }
  @include tablet-plus {
    top: initial;
    bottom: 100px;
  }
  img {
    width: 100%;
  }
}
